.elevate-carousel {
  overflow: hidden;
  position: relative;
}

.elevate-carousel .elevate-carousel-item {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  -ie-animation-duration: .4s;
  animation-duration: .4s;
  position: absolute;
}

.elevate-carousel .elevate-carousel-item:first-child {
  opacity: 1;
  filter: alpha(opacity=100);
}

.elevate-carousel .elevate-carousel-item.in {
  -webkit-animation-name: carousel-in;
  -moz-animation-name: carousel-in;
  -ie-animation-name: carousel-in;
  animation-name: carousel-in;

  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ie-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
}

.elevate-carousel .elevate-carousel-item.out {
  -webkit-animation-name: carousel-out;
  -moz-animation-name: carousel-out;
  -ie-animation-name: carousel-out;
  animation-name: carousel-out;

  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ie-transform: translate(0, -100%);
  transform: translate(0, -100%);
  opacity: 0;
  filter: alpha(opacity=0);
}


@-webkit-keyframes carousel-in {
  0% {
    -webkit-transform: translate(0, 100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes carousel-out {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, -100%);
    opacity: 0;
  }
}


@-moz-keyframes carousel-in {
  0% {
    -moz-transform: translate(0, 100%);
    opacity: 0;
  }

  100% {
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}

@-moz-keyframes carousel-out {
  0% {
    -moz-transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    -moz-transform: translate(0, -100%);
    opacity: 0;
  }
}


@-ie-keyframes carousel-in {
  0% {
    -ie-transform: translate(0, 100%);
    opacity: 0;
  }

  100% {
    -ie-transform: translate(0, 0);
    opacity: 1;
  }
}

@-ie-keyframes carousel-out {
  0% {
    -ie-transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    -ie-transform: translate(0, -100%);
    opacity: 0;
  }
}

@keyframes carousel-in {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes carousel-out {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0, -100%);
    opacity: 0;
  }
}